.navbar {
    padding-bottom: 12.5px;
    padding-top: 12.5px;
    margin-bottom: 10px;
    width: 100%;
}

.navbar a {
    padding-left: 9px;
    padding-right: 9px;

}

.introduction h1 {
    text-align: center;
}