.navbar {
    background-color: gray;
    border: .5em solid black;
}

.navbar a {
    font-size: 12px;
    border: .5em solid black;
}

.navbar a:hover {
    background-color: lightgray;
}

.introduction h1 {
    color: aqua;
    font-size: 3em;
    text-align: center;
}